/* .App {
  text-align: left;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(183, 247, 181);
  height: 190px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.layout {
  align-items: top;
  background-color: rgb(183, 247, 181);
  margin: auto;
  top: -50; 
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}




/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
